.btn{
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */ /* when I use, header moves when hover login*/
    padding: 7px 15px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    transition-duration: .4s;
}

.btn-header{
    color: #f1f6f9 !important;
}

.btn-header:hover{
    color: #394867 !important;
    background-color: #f1f6f9 !important;
}

.btn-showcase{
    color: #394867;
    background-color: #f1f6f9;
    padding: 10px;
}

.btn-showcase:hover{
    color: #f1f6f9;
    background-color: #9ba4b4;
}