* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

main {
  /* when u use this, showcase will go lower.
  you have to move showcase lover because when 
  you make header position: fixed, showcase 
  pretend like header gone. */
  margin-top: 65px;
}

.main-header {
  background-color: #14274e;
  padding: 8px 16px;
  position: fixed; /* If u use this, you need 100% width and z-index: 1*/
  width: 100%;
  z-index: 1;
  top: 0;
}

/* Sets header element colors */
.main-header a {
  color: #9ba4b4;
  text-decoration: none; /* removes underline*/
  padding: 10px 15px; /* sets Movies etc. background size*/
  font-size: 20px; /* padding does not enough after some point*/
  font-family: "Poppins", sans-serif;
}

.page-title{
  font-size: 30px !important; 
}

.main-nav {
  display: inline-block;
  width: calc(100% - 101px);
  text-align: right;
}

.main-nav__items {
  margin: 0px;
}

.main-nav__item {
  display: inline-block;
  margin-left: 20px; /* sets the spacing between Movies, TV Shows etc.*/
  padding: 11px;
}

.main-nav__item a:hover {
  color: #f1f6f9;
  background-color: #394867;
  border-radius: 4px;
  padding: 7px 15px; /* it goes bigger, elements move*/
  transition-duration: .4s; /* Make smoother hover*/
}

#showcase {
  background: url(../HTML/pic/zflix-background.jpg);
  width: 100%;
  height: 70vh;
}

#showcase .content {
  /* relative -> it'll be aligned by
    the element one above */
  position: relative;
  background-color: rba(0, 0, 0, 0.6);
  margin-left: 20px;
  color: #fff;
  top: 10%;
  width: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#showcase .content h1 {
  font-size: 60px;
  margin: 0px;
}

#showcase .content p {
  font-size: 25px;
}

.row {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.movie-poster {
  position: relative;
  width: 20%;
  height: 400px;
  background-position: center;
  /* background-size: contain;   */
  background-repeat: no-repeat;
  /* inline-block yapınca ortaladı */
  display: inline-block;
}

.featured-movies__content {
  margin: 50px 0px 20px;
}

.movie-1 {
  background-image: url(../HTML/pic/death-on-the-nile.jpg);
}

.movie-2 {
  background-image: url(../HTML/pic/death-on-the-nile.jpg);
}

.movie-3 {
  background-image: url(../HTML/pic/death-on-the-nile.jpg);
}

.movie-4 {
  background-image: url(../HTML/pic/death-on-the-nile.jpg);
}
